
version: '3.8'

x-app-service: &app-service
  build: .
  env_file:
    - .env
  environment:
    - PORT=3000
  networks:
    - app-network

services:
  app1:
    <<: *app-service

  app2:
    <<: *app-service

  app3:
    <<: *app-service

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - app-network
    depends_on:
      - app1
      - app2
      - app3

networks:
  app-network:
    driver: bridge
