version: '3.8'
services:
  auth-service:
    build:
      context: ./auth-server
    env_file:
      - .env
    environment:
      - PORT=3001
    networks:
      - app-network
  board-service-1:
    build:
      context: ./board-server
    env_file:
      - .env
    networks:
      - app-network
  board-service-2:
    build:
      context: ./board-server
    env_file:
      - .env
    networks:
      - app-network
  board-service-3:
    build:
      context: ./board-server
    env_file:
      - .env
    networks:
      - app-network
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - app-network
    depends_on:
      - auth-service
      - board-service-1
      - board-service-2
      - board-service-3
networks:
  app-network:
    driver: bridge
